.featured {
  flex: 3;
  box-shadow: 2px 4px 10px 2px rgba(201, 201, 201, 0.5);
  padding: 10px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #999;

    .title {
      font-size: 14px;
      font-weight: normal;
    }
    .icn__featured {
      cursor: pointer;
    }
  }

  .bottom {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .featuredChart {
      width: 150px;
      height: 150px;
    }

    .title {
      font-weight: 500;
      color: #999;
    }
    .amount {
      font-size: 25px;
    }
    .desc {
      font-weight: 400;
      font-size: 13px;
      color: #999;
      text-align: center;
    }
    .summary {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item {
        text-align: center;

        .itemTitle {
          font-size: 14px;
          color: gray;
        }

        .itemResult {
          display: flex;
          align-items: center;
          margin-top: 10px;
          font-size: 14px;

          &.positive {
            color: green;
          }

          &.negative {
            color: red;
          }
        }
      }
    }
  }
}
