.navbar {
  height: 80px;
  border-bottom: 0.5px solid rgba(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #556;
  .link {
    text-decoration: none;
  }
  .wrapper {
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .search {
      border: 1px solid rgba(87, 78, 78, 0.459);
      border-radius: 5px;
     
      padding: 5px;
      display: flex;
      align-items: center;

      input {
          outline: none;
          border: none;
          background: transparent;
      }
      .icn__search {
          cursor: pointer;
      }
    }
    .items {
      display: flex;
      align-items: center;
      .item {
          margin-right: 25px;
        .icn {
          cursor: pointer;
          color: #082218;
        }
      }
      .avatar__img {
          height: 80px;
          width: 80px;
          border-radius: 50%;
          cursor: pointer;
      }
    }
  }
}
